[Unit]
Description=Pi4 Timelapse Frame Receiver Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/2pis/pi4
ExecStart=/usr/bin/python3 /home/pi/2pis/pi4/server.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
# Give USB time to mount before starting
ExecStartPre=/bin/sleep 5

[Install]
WantedBy=multi-user.target
